<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                font-family: 'Courier New', Courier, monospace;
                color: antiquewhite;
            }
            body {
                background-color: cornflowerblue;
            }
        </style>
    </head>
    <body>
        <div class="content-section">
            <h1>You have been logged out</h1>
            <p>Come back soon!</p>
            <a href="{% url 'login' %}">Log back in</a>
        </div>
    </body>
</html>